<div id="sidebar">

  <div class="sidebar-header">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", alt: "Mon image", width: 90 %>
    <% end %>
  </div>

  <ul class="list-unstyled CTAs">
      <li>
        <%= link_to "Faire son marché", account_products_path(@account), class: "call_to_action" %>
      </li>
  </ul>

  <ul class="list-unstyled components">

    <li class="active">
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-tachometer-alt align-middle" style="font-size:20px; vertical-align: middle;"></i>
          <span>Dashboard</span>
        </div>
      </a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <% @accounts.each do |account| %>
          <li>
            <%= link_to account.name, account_path(account) %>
          </li>
        <% end %>
          <li>
            <%= link_to "Créer une organisation", new_account_path %>
          </li>
      </ul>
    </li>

    <li>
      <%= link_to edit_account_path(@account) do %>
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-envelope align-middle" style="font-size:20px; vertical-align: middle;"></i>
          <span>Messages</span>
        </div>
      <% end %>
    </li>

    <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
              <a href="#">Page 1</a>
          </li>
          <li>
              <a href="#">Page 2</a>
          </li>
          <li>
              <a href="#">Page 3</a>
          </li>
      </ul>
    </li>

    <li>
        <a href="#">Activité</a>
    </li>

    <li>
      <%= link_to edit_account_path(@account) do %>
        <div style="display: inline-block; text-align: center;">
          <i class="fas fa-cog align-middle" style="font-size:20px; vertical-align: middle;"></i>
          <span>Paramètres</span>
        </div>
      <% end %>
    </li>

    <li>
      <div class = "user_navabar">
        <div>
          <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50,  class: "avatar"%>
        </div>
        <div class = "user-info">
          <a href="#logout" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" id="user-information">
          <%= current_user.first_name %>
          <%= current_user.last_name %>
            <div id = "info-user">
              <%= current_user.email %>
            </div>
          </a>
        <ul class="collapse list-unstyled" id="logout">
          <li>
            <%= link_to "Information", edit_user_registration_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
        </div>
      </div>
    </li>

  </ul>

</div>


