<div class="modal-order-supplier">
  <div class="modal-header modal-header-orders-supplier">
    <h4 class="modal-title" id="myModalLabel">Commande <%= @order.account.name %></h4>
    <button type="button" class="close" data-dismiss="modal">x</button>
  </div>
  <div class="modal-body modal-body-orders-supplier">
    <nav>
      <div class="nav nav-tabs" id="myTab" role="tablist">
        <a class="nav-item nav-link active" id="client-tab" data-toggle="tab" href="#client" role="tab" aria-controls="client" aria-selected="true">Client</a>
        <a class="nav-item nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Article(s)</a>
        <a class="nav-item nav-link" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="false">Status</a>
        <a class="nav-item nav-link" id="responsable-tab" data-toggle="tab" href="#responsable" role="tab" aria-controls="responsable" aria-selected="false">Responsable</a>
      </div>
    </nav>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="client" role="tabpanel" aria-labelledby="client-tab">
        <div class="container-modal">
          <div class="avatar-account-square">
            <% if @order.account.photo.attached? %>
              <%= cl_image_tag(@order.account.photo.key,
                               :width => 100, :height => 100,
                               :crop => :thumb, :gravity => :face, :radius => 20) %>
            <% else %>
              <%= image_tag 'shop-avatar.png', style: 'width:46px; height:46px;' %>
            <% end %>
          </div>
          <div>Client : <%= @order.account.name %></div>
          <div>Adresse : <%= @order.account.address %></div>
        </div>
      </div>

      <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles-tab">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Produit</th>
              <th>Quantité(Unité)</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <% @order.items.each do |item| %>
              <tr>
                <th scope="row">1</th>
                <td><%= item.product.name %></td>
                <td><%= item.quantity %> - <%= item.product.entity %></td>
                <td><%= item.amount_cents.fdiv(100) %>€</td>
              </tr>
            <% end %>
            <tr class="total">
              <th scope="row"></th>
              <td></td>
              <td>Total</td>
              <td><%= @order.items.sum(:amount_cents).fdiv(100) %>€</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">
        <div class="container-modal">
          <% @order.steps.each do |step| %>
            <% if step == @order.steps.last  %>
              <div>
                <i class="fas fa-circle"></i>
                le <%= step.created_at.strftime('%d/%m/%Y') %> à <%= step.created_at.strftime('%Hh%M') %>
              </div>
              <div class="last_status_name">
                <%= step.name %>
              </div>
            <% else %>
              <div>
                <i class="fas fa-circle"></i>
                le <%= step.created_at.strftime('%d/%m/%Y') %> à <%= step.created_at.strftime('%Hh%M') %>
              </div>
              <div class="status_name">
                <%= step.name %>
              </div>
            <% end %>
          <% end %>
          <%= simple_form_for([@order, @step_new], remote: true, html: {class: 'form-inline'}) do |f| %>
            <%= f.input :name, label: false, placeholder: "Status de la commande", collection: ["En cours de traitement", "En cours de livraison", "Livrée"], selected: "Status de la commande"%>
            <%= f.button :submit, "Enregistrer", class: "btn-new inline-form"%>
          <% end %>
        </div>
      </div>

      <div class="tab-pane fade" id="responsable" role="tabpanel" aria-labelledby="responsable-tab">
        <div class="container-modal">
          Responsable
        </div>
      </div>
    </div>



  </div>
<!--   <div class="modal-footer" style="justify-content: center;">
    <%#= simple_form_for([@order, @step_new], remote: true) do |f| %>
      <%#= f.input :name, label: false, placeholder: "Status de la commande", collection: ["En cours de traitement", "En cours de livraison", "Livrée"], selected: "Status de la commande"%>
      <%#= f.button :submit, "Enregistrer", class: "btn-new"%>
    <%# end %>
    <div class="btn-new">
      Créer une nouvelle organisation
    </div>
  </div> -->
</div>
