<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a href="#logout" data-toggle="collapse" aria-expanded="false" id="user-information">
          <div class = "user_navabar">
            <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50,  class: "avatar"%>
            <div class = "user-info">
              <div class="caret">
                <%= current_user.first_name %>
                <%= current_user.last_name %>
              </div>
              <div id = "info-user">
                <%= current_user.email %>
              </div>
            </div>
          </div>
        </a>

        <ul class="collapse list-unstyled" id="logout">
          <li>
            <%= link_to "Information", edit_user_registration_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </li>
        </ul>
          </div>
        </div>
        </div>


<!--         <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%#= link_to "Action", "#", class: "dropdown-item" %>
          <%#= link_to "Another action", "#", class: "dropdown-item" %>
        </div> -->
      </li>
    </ul>
  </div>
</div>
