<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", alt: "Mon image", width: 90 %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Dashboard", account_path(current_user.accounts.first), class: "nav-link" %>
        </li>

        <li class="nav-item dropdown">
          <a href="#logout" data-toggle="collapse" aria-expanded="false" id="user-information">
            <div class = "user_navabar">
              <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50, :default_image => "shop-avatar.png",  class: "avatar"%>
              <div class = "user-info">
                <div class="caret">
                  <%= current_user.first_name %>
                  <%= current_user.last_name %>
                </div>
                <div id = "info-user">
                  <%= current_user.email %>
                </div>
              </div>
            </div>
          </a>

          <ul class="collapse list-unstyled" id="logout">
            <li>
              <%= link_to "Information", edit_user_registration_path, class: "dropdown-item" %>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>



