<nav id="sidebar">


  <div class="sidebar-header">
    <%#= link_to root_path, class: "navbar-brand" do %>
      <%#= image_tag "logo.png", alt: "Logo", width: 90 %>
    <%# end %>
    <%= link_to root_path, class:"logo" do %>
      <h3>Beno</h3>
    <% end %>
  </div>

<!--   <ul class="list-unstyled CTAs">
    <%# unless @account.nil? || @account.id.nil?%>
      <li>
        <%#= link_to "Faire son marché", account_products_path(@account), class: "call_to_action" %>
      </li>
    <%# end %>
  </ul> -->


  <ul class="list-unstyled components">

    <%# unless @accounts.nil? || @account.nil? %>
    <hr>
      <div class ="flex">
        <div>
          <%= link_to modal_choice_account_accounts_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} do %>
            <li class="account-dashboard">
              <div class="account-photo">
                <% if @account.photo.attached? %>
                  <%= cl_image_tag(@account.photo.key,
                                   :width => 100, :height => 100,
                                   :crop => :thumb, :gravity => :face, :radius => 20) %>
                <% else %>
                  <%= image_tag 'shop-avatar.png', style: 'width:46px; height:46px;' %>
                <% end %>
              </div>
              <div class="account-name">
                <%= @account.name %>
              </div>
            </li>
          <% end %>

          <hr>

          <li>
            <%= link_to account_path(@account), class: "#{current? 'active', account_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-home" style="font-size:20px; vertical-align: middle;"></i>
                <span>Dashboard</span>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to list_orders_account_orders_path(@account), class: "#{current? 'active', list_orders_account_orders_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-cart-arrow-down" style="font-size:20px; vertical-align: middle;"></i>
                <span>Commandes</span>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to my_products_account_products_path(@account), class: "#{current? 'active', my_products_account_products_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-apple-alt" style="font-size:20px; vertical-align: middle;"></i>
                <span>Produits</span>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to customers_account_path(@account), class: "#{current? 'active', customers_account_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-user-tie" style="font-size:20px; vertical-align: middle;"></i>
                <span>Clients</span>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to edit_account_path(@account), class: "#{current? 'active', edit_account_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-envelope align-middle" style="font-size:20px; vertical-align: middle;"></i>
                <span>Messages</span>
              </div>
            <% end %>
          </li>

        </div>

        <div>
          <hr>
          <li>
            <%= link_to edit_account_path(@account), class: "#{current? 'active', edit_account_path(@account)}" do %>
              <div style="display: inline-block; text-align: center;">
                <i class="fas fa-cog align-middle" style="font-size:20px; vertical-align: middle;"></i>
                <span>Paramètres</span>
              </div>
            <% end %>
          </li>
        </div>
      </div>
    <%# end %>

  </ul>
  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

</nav>


