<div class="form">
  <%= simple_form_for(@product) do |f| %>
    <%= f.input :name, label: false, placeholder: "Nom du produit"%>
    <%= f.input :description, label: false, placeholder: 'Description'%>
    <%= f.input :category, label: false, placeholder: "Catégorie", collection: [ "Légume", "Fruit", "Viande", "Poisson", "Autre" ]%>
    <%= f.input :stock, label: false, placeholder: "Stock", as: :numeric, input_html: { min: 0 } %>
    <%= f.input :entity, label: "Unité", collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ]%>
    <%= f.input :photo, as: :file, required: true %>
    <%= f.button :submit, "Enregistrer", class: "btn-back btn-flat"%>
  <% end %>
</div>

<%= link_to "Supprimer", product_path(@product), method: :delete, data: { confirm: "Êtes-vous sur de supprimer #{@product.name} ?" }, class: "btn-gradient" %>
<%= link_to "Modifier le système de prix", account_product_pricings_path(@account, @product), class: "btn-gradient" %>
