<%= render 'products/shared/top-shopping' %>



<div data-controller="filter">
  <div>
    <a href="#categorie-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Catégorie</span>
    </a>

    <a href="#entity-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Unité</span>
    </a>

    <a href="#price-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Prix</span>
    </a>

    <div data-action="change->filter#clickSubmit" data-target="filter.form" class="panel-body">
      <%= simple_form_for :search, url: account_products_path(@account), method: "GET", remote: true do |f| %>

        <div class="collapse filter panel-body" id="categorie-item" >
          <%= f.input :categories, label: "", required: false,  collection: $categories, as: :check_boxes, onchange: 'clickSubmit()'%>
        </div>
        <div class="collapse filter panel-body" id="entity-item">
          <%= f.input :entity, label: "", required: false, collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ], as: :check_boxes, onchange: 'clickSubmit()'%>
        </div>
        <div class="collapse filter panel-body" id="price-item">
          <%= f.input :price, label: "", required: false, as: :radio_buttons, collection: ["< 1", "< 2", "< 4", "< 10", "< 15", "< 20", "< 25", "< 30"], onchange: 'clickSubmit()'%>
        </div>
        <%= f.submit "Search", id: "search_submit", style: "display:none", 'data-target': "filter.search" %>
      <%end%>
    </div>
  </div>

  <%= link_to "Reset", account_products_path(@account) %>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <div data-target="filter.products" id="products">
          <%= render 'product', products: @products %>
        </div>
      </ul>
    </div>
  </div>

</div>



