<%= render 'products/shared/top-shopping' %>
<div data-controller="filter">
  <div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">
          <div data-target="filter.products" id="products">
            <%#= render 'product', products: @products %>
            <%= @list_products %>
          </div>
      </ul>
      <!-- End -->
    </div>
  </div>

  <div data-action="change->filter#submit" data-target="filter.form">
    <%= simple_form_for :search, url: account_products_path(@account), method: "GET", remote: true do |f| %>
      <%= f.input :categories, label: "Category",  collection: $categories, as: :check_boxes %>
      <%#= f.association :account, as: :check_boxes, collection: Account.order(:name) %>
      <%#= f.input :account,:collection => @accounts,:label_method => :account,:value_method => :id,:label => "Fournisseur" ,:include_blank => false %>
      <%= f.submit "Search", name: nil, class: 'd-none', data: { target: 'filter.submit' } %>
      <%= link_to "Reset", account_products_path(@account) %>
    <%end%>
  </div>
</div>

<%#= javascript_pack_tag 'custom' %>
