<%= render 'products/shared/top-shopping' %>
<div data-controller="filter">
  <div>
    <a href="#categorie-item" data-toggle="collapse" aria-expanded="false" aria-controls="main-navigation">
      <span class="btn btn-ghost">Catégorie</span>
    </a>

    <div data-action="change->filter#clickSubmit" data-target="filter.form" class="collapse filter panel-body" id="categorie-item">
      <%= simple_form_for :search, url: account_products_path(@account), method: "GET", remote: true do |f| %>
        <%= f.input :categories, label: "", required: false,  collection: $categories, as: :check_boxes, onchange: 'clickSubmit()'%>
        <%#= f.association :account, as: :check_boxes, collection: Account.order(:name) %>
        <%#= f.input :account,:collection => @accounts,:label_method => :account,:value_method => :id,:label => "Fournisseur" ,:include_blank => false %>
        <%= f.submit "Search", id: "search_submit", style: "display:none", 'data-target': "filter.search" %>
      <%end%>
    </div>
  </div>



  <%= link_to "Reset", account_products_path(@account) %>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <div data-target="filter.products" id="products">
          <%= render 'product', products: @products %>
        </div>
      </ul>
    </div>
  </div>

</div>



