<%= render 'products/shared/top-shopping' %>

<% if params["search"] %>
  <p>params["search"] : <%= params["search"] %></p>
  <p>params["search"]["categories"].to_a[1] : <%= params["search"]["categories"].flatten.reject(&:blank?).present? %></p>

<% else %>
  <p>No params["search"]</p>
<% end %>




  <div>
    <a href="#categorie-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Catégorie</span>
    </a>

    <a href="#entity-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Unité</span>
    </a>

    <%= simple_form_for :search, url: market_account_products_path(@account), method: "GET" do |f| %>
      <div class="collapse filter panel-body" id="categorie-item" >
        <%= f.input :categories, label: "", required: false,  collection: $categories, as: :check_boxes%>
      </div>
      <div class="collapse filter panel-body" id="entity-item">
        <%= f.input :entity, label: "", required: false, collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ], as: :check_boxes%>
      </div>
      <%= f.submit "Search", id: "search_submit", 'data-target': "filter.search" %>
    <%end%>
  </div>

<!--   <div>


    <div data-action="change->filter#clickSubmit" data-target="filter.form" class="collapse filter panel-body" id="entity-item">
      <%#= simple_form_for :search, url: account_products_path(@account), method: "GET", remote: true do |f| %>
        <%#= f.input :entity, label: "Unité", collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ], as: :check_boxes, onchange: 'clickSubmit()'%>
        <%#= f.association :account, as: :check_boxes, collection: Account.order(:name) %>
        <%#= f.input :account,:collection => @accounts,:label_method => :account,:value_method => :id,:label => "Fournisseur" ,:include_blank => false %>
      <%#end%>
    </div>
  </div> -->

  <%= link_to "Reset", account_products_path(@account) %>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <div data-target="filter.products" id="products">
          <%= render 'product', products: @products %>
        </div>
      </ul>
    </div>
  </div>

</div>
