<div data-controller="search">
  <div data-action="keydown->search#keydownSubmit" data-target="search.field">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
      <%= form_tag market_account_products_path(@account), method: :get, remote: true do %>
        <div class="input-group">
          <div class="input-group-prepend">
            <%= button_tag(type: "submit", id: "button-addon2", class: "field btn btn-link", 'data-target': "search.submit" ) do %>
                <i class="fa fa-search"></i>
            <% end %>
          </div>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control border-0 bg-light",
            placeholder: "Rechercher un produit ou un fournisseur"
          %>
        </div>
      <% end %>
    </div>
  </div>
</div>



  <div>
    <a href="#categorie-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Catégorie</span>
    </a>

    <a href="#entity-item" data-toggle="collapse" aria-expanded="false">
      <span class="btn btn-ghost">Unité</span>
    </a>

    <%= simple_form_for :search, url: market_account_products_path(@account), method: "GET" do |f| %>
      <div class="collapse filter panel-body" id="categorie-item" >
        <%= f.input :categories, label: "", required: false,  collection: $categories, as: :check_boxes%>
      </div>
      <div class="collapse filter panel-body" id="entity-item">
        <%= f.input :entity, label: "", required: false, collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ], as: :check_boxes%>
      </div>
      <%= f.submit "Search", id: "search_submit", 'data-target': "filter.search" %>
    <%end%>
  </div>

<!--   <div>


    <div data-action="change->filter#clickSubmit" data-target="filter.form" class="collapse filter panel-body" id="entity-item">
      <%#= simple_form_for :search, url: account_products_path(@account), method: "GET", remote: true do |f| %>
        <%#= f.input :entity, label: "Unité", collection: [ "gramme", "kilogramme", "centilitre", "litre", "pièce" ], as: :check_boxes, onchange: 'clickSubmit()'%>
        <%#= f.association :account, as: :check_boxes, collection: Account.order(:name) %>
        <%#= f.input :account,:collection => @accounts,:label_method => :account,:value_method => :id,:label => "Fournisseur" ,:include_blank => false %>
      <%#end%>
    </div>
  </div> -->

  <%= link_to "Reset", account_products_path(@account) %>

  <div class="row">
    <div class="col-lg-8 mx-auto">
      <ul class="list-group shadow">
        <div data-target="filter.products" id="products">
          <%= render 'product', products: @products %>
        </div>
      </ul>
    </div>
  </div>

</div>
