<h2>
  Mes produits
    <%= link_to new_account_product_path(@account) do %>
      <i class="fas fa-plus-square"></i>
    <% end %>
</h2>

<% @products.each do |product| %>
  <%= link_to edit_product_path(product) do %>
    <div class="card-product">
      <%= cl_image_tag product.photo.key %>
      <div class="card-product-infos">
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
      </div>
    </div>
  <% end %>
<% end %>


