<h1>Show</h1>
<div>
  <%= cl_image_tag @product.photo.key, :transformation => {:width=>200, :height=>200, :crop=>"fill"} %>
  <p><%= @product.name %></p>
  <p><%= @product.description %></p>
  <p><%= @product.category %></p>
  <p><%= @product.stock %></p>
</div>

<h2>Prix</h2>
<div>
  <table>
   <tr>
       <td>Montant</td>
       <td>Quantité minimum</td>
       <td>Quantité maximum</td>
       <%# raise %>
   </tr>
   <% @product.pricing.each do |pricing| %>
     <tr>
        <td><%= pricing.amount_cents %></td>
        <td><%= pricing.min_quantity %></td>
        <td><%= pricing.max_quantity %></td>
        <td><%= link_to "Ajouter à mon panier", edit_pricing_path(pricing), class: "btn-gradient" %></td>
     </tr>
    <% end %>
  </table>
</div>

<div class="form">
  <%= simple_form_for [@account, @product, @item] do |f| %>
    <%= f.input :quantity, label: false, placeholder: "Quantité", as: :numeric, input_html: { min: 0 } %>

    <%= f.button :submit, "Enregistrer", class: "btn-back btn-flat"%>
  <% end %>
</div>

