<!DOCTYPE html>
<html>
  <head>
    <title>Suprest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar/navbar' %>
    </div>
    <div id="content">
      <div class="wrapper">
        <%= render 'shared/navbar/sidebar' %>
        <div id="dashboard">
          <div class="container-fluid">
            <%= yield %>
            <%= render 'shared/flashes' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


